# Firebase
firebase-config.js
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log

# Functions
functions/node_modules/
functions/.runtimeconfig.json

# Logs
*.log
npm-debug.log*

# Local env
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
